a{
    text-decoration: none;
    color: white
}
.menu {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 50px;
    align-items: center;
}


.group a{
    margin-left: 50px;
    font-family:'Times New Roman';
    color: white;
    font-size: 20px;
    border-radius: 16px;
}

.space{
    margin-top: 50px;
}